<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,266},{21,21}}</string>
                <key>offset</key>
                <string>{32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,4},{21,21}}</string>
                <key>sourceSize</key>
                <string>{85,25}</string>
            </dict>
            <key>Player01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{33,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{33,23}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>Player02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,261},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,26}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>Player03.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,280},{33,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{33,26}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>Player04.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,174},{33,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{33,26}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>PlayerShoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,280},{33,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{33,26}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>blood_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,188},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bon_1000pts.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{122,261},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bon_500pts.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{466,366},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bon_fireblast2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{432,342},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bon_firebullets.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{398,320},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bon_freeze.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{458,308},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bon_medikit.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{284,266},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bon_nuke.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{104,223},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bon_reflex.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{70,223},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bon_shield.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{36,223},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bon_shock.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bon_speed3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{478,104},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bon_wepSpeed.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{478,70},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bon_x2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{478,36},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,186},{10,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{10,2}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>bullet_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,198},{2,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,4}}</string>
                <key>sourceSize</key>
                <string>{2,4}</string>
            </dict>
            <key>deadbody_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,122},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>deadbody_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,134},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>deadbody_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>deadbody_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,292},{58,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dir_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,219}}</string>
                <key>sourceSize</key>
                <string>{222,219}</string>
            </dict>
            <key>direction.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,122}</string>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,281},{26,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{26,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemy6_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,238},{26,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{26,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>enemy6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,230},{26,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{26,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>enemy6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,202},{26,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{26,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>enemy6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,210},{26,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{26,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>flare_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>flare_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>flare_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>flare_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>flare_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,122},{46,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{46,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gun001.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,156},{36,16}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{36,16}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{60,22}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{60,22}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun003.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,252},{62,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{62,12}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,170},{48,14}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{48,14}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun005.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,186},{46,22}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{46,22}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{60,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{60,14}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun007.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,266},{60,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{60,24}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun008.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,266},{60,20}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{60,20}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun009.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,223},{56,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{56,20}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun010.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,278},{56,18}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{56,18}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun011.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,270},{60,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{60,16}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun012.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,302},{58,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{58,16}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun013.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,278},{60,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{60,22}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun014.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,238},{62,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,12}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun015.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,258},{40,20}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{40,20}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun016.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,196},{62,20}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{62,20}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun017.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,236},{62,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{62,14}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun018.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,252},{60,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{60,16}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun019.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,138},{36,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{36,16}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun020.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,222},{62,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{62,14}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun021.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,223},{60,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{60,18}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun022.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,308},{56,16}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{56,16}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun023.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,252},{60,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{60,24}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun024.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,194},{62,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,26}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun025.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,218},{62,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{62,16}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun026.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,243},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{60,16}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>gun_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,320},{15,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{15,15}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>gunfire00.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,134},{1,1}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>gunfire01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,210},{17,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,7}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>gunfire02.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,246},{15,7}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>gunfire03.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,229},{15,7}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>gunfire04.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,280},{13,7}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>gunfire05.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,263},{13,7}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>obj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,134},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assets.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44a2751d0afa1892bc23957de62e7893:6c1bc3486fdb8d6e8615e21a102d54ed:83e187547237f094a69bacbb86d8af03$</string>
            <key>textureFileName</key>
            <string>assets.png</string>
        </dict>
    </dict>
</plist>
